<section class="bio-section">
    <div class="bio-left">
        <h2 class="section-title">About Me</h2>
        <h1>Manjusha Sagi</h1>
        <p>Frontend Engineer with a proven record for building and delivering scalable and performant single-page applications using 
            <span class="tech-stack">Angular, TypeScript, JavaScript, HTML5, and CSS3</span>. Demonstrates strong understanding of Agile development, frontend architecture, and UI responsiveness, with experience contributing to customer-facing features, improving performance, and supporting high-quality, production-ready web applications.</p>
        <div class="contact-links">
            <a href="mailto:contact.manjusha@gmail.com">
                <span class="material-icons">email</span>contact.manjusha [at] gmail [dot] com</a>
            <a href="https://www.linkedin.com/in/your-linkedin-profile" target="_blank" rel="noopener">
                <span class="material-icons">link</span>LinkedIn</a>
        </div>
    </div>
    <div class="bio-right">
        <img src="assets/manjusha.jpg" alt="Manjusha Sagi">
    </div>
</section>