<section class="bio-section">
    <div class="bio-left">
        <h2 class="section-title">About Me</h2>
        <h1>Manjusha Sagi</h1>
        <p>Frontend Engineer with a proven record for building and delivering scalable and performant single-page applications using Angular, TypeScript, JavaScript, HTML5, and CSS3. Demonstrates strong understanding of Agile development, frontend architecture, and UI responsiveness, with experience contributing to customer-facing features, improving performance, and supporting high-quality, production-ready web applications.</p>
    </div>
    <div class="bio-right">
        <img src="assets/manjusha.jpg" alt="Manjusha Sagi">
    </div>
</section>